<h1>Welcome to <%= @user.username %>'s profile</h1>
<div>
    <%= image_tag @user.picture, style: "height:200px;width:200px;" if @user.picture.attached?  %>
</div>
<p>Description:</p>
<p><%= @user.bio %></p> 
<p><%= @user.email %></p>
<% if user_signed_in? %>
    <% if current_user.id == @user.id or current_user.has_role? :admin %>
        <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
    <% end %>
<% end %>
<div class="row">
    <% @games.each do |game| %>
        <div class="card col-lg-3" style="width: 20rem;">
            <% if game.picture.attached? %>
                <%= image_tag game.picture, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= game.title %></h5>
                <p class="card-text"><%= game.description %></p>
                <%=link_to "More", game_path(game.id), class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>
