<div>
    <h1><%= @game.title %></h1>
</div>
<div class="game-pic">
    <%= image_tag @game.picture if @game.picture.attached? %>
</div>
<div>
    <h4><%= @game.description %></h4>
    <h4>Price: $<%= @game.price %></h4>
</div>
<p><%= link_to 'Edit Game', edit_game_path(@game.id) %></p>
<p><button id="buynow-button">Buy Now!</button></p>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>")
    const buyButton = document.getElementById('buynow-button')

    buyButton.addEventListener('click', function(){
        fetch('<%= buy_path(@game.id) %>', {
            method: 'POST'
        })
        .then(function(response){
            return response.json()
        })
        .then(function(session){
            return stripe.redirectToCheckout({sessionId: session.id})
        })
    })
</script>



