<div>
    <h1><%= @game.title %></h1>
    <% if @game.picture.attached? %>
        <%= image_tag @game.picture, class: 'show-game-pic' %>
    <% end %>
</div>
<div>
    <h4>Developer: <%= @game.owner %></h4>
    <h4><%= @game.description %></h4>
    <h4>Rating: <%= @game.avg_rating %></h4>
    <h4>Price: <%= "$%.2f" % @game.price %></h4>
</div>
<% if user_signed_in? %>
    <% if current_user.username == @game.owner %>
        <p><%= link_to 'Edit Game', edit_game_path(@game.id) %></p>
    <% end %>   
<% end %>
<% if user_signed_in? %>
    <p><button id="buynow-button">Buy Now!</button></p>
<% else %>
    <h2><%= link_to "Login to purchase this game!", new_user_session_path %></h2>
<% end %>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>")
    const buyButton = document.getElementById('buynow-button')

    buyButton.addEventListener('click', function(){
        fetch('<%= buy_path(@game.id) %>', {
            method: 'POST'
        })
        .then(function(response){
            return response.json()
        })
        .then(function(session){
            return stripe.redirectToCheckout({sessionId: session.id})
        })
    })
</script>

<% if user_signed_in? %>
    <% current_user.games.each do |game| %>
        <% if game.id == @game.id %>
            <h1>Leave a review! </h1>

            <%= form_with model: @review, local: true do |f| %>
                <div>
                    <%= f.label :title %>
                    <%= f.text_field :title %>
                </div>
                <div>
                    <%= f.label :content %>
                    <%= f.text_area :content %>
                </div>
                <div>
                    <%= f.label :rating %>
                    <%= f.number_field :rating, min: 0, max: 5, step: 0.50 %>
                </div>
                <div>
                    <%= f.submit "Submit Review" %>
                </div>
            <% end %> 
            <% @reviews.each do |review| %>
                <div>
                    <h5><%= review.user %> </h3>
                    <h2><%= review.title %> </h2>
                    <h4><%= review.content %></h4> 
                    <h4>Rating: <%= "%.1f" % review.rating %></h4> 
                    <% if current_user.username == review.user %>
                        <h6><%= link_to "Edit", edit_review_path(review.id) %></h6>
                    <% end %>
                    <hr>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <h2>Buy this game to leave a review!</h2>
<% end %>





