<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <% if user_signed_in?  %>
    <h4>
      Welcome <%= current_user.username %>!
        | <%= link_to "Home", root_path  %> 
        | <%= link_to "Library", library_path(current_user.id)  %> 
        | <%= link_to "Profile", profile_path(current_user.id) %>
        | <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      </h4>
      <% else %>
      <h4>
        Welcome! 
        | <%= link_to "Home", root_path  %> 
        | <%= link_to "Login", new_user_session_path %>
        | <%= link_to "Register", new_user_registration_path %>
      </h4>
    <% end %>

    <%= yield %>
  </body>
</html>
